body {
  background-color: rgb(229, 239, 236);
}

.row.product .col-md-3 {
  height: 500px;
}

.row.product .card {
  height: 100%;
}

.card img {
  object-fit: contain;
  height: 70%;
}

.card-title {
  font-weight: bold;
}

.card-text {
  color: darkgreen;
  font-weight: bold;
}

nav.navbar {
  background-color: aliceblue !important;
  font-size: 1.3rem;
  font-weight: bold;
  font-family:Arial, Helvetica, sans-serif;
}

nav .navbar-brand {
  transform: scale(1);
  transition: transform 0.3s ease;
}
nav .navbar-brand:hover {
  transform: scale(1.2);
  transition: transform 0.3s ease;
}

.nav-item {
  margin: 0 10px;
}

#productImage {
  height: 70vh;
}

#productImage img {
  object-fit: contain;
  max-height: 100%;
}

ul#checkoutList {
  font-size: 1.5rem;
}

#checkoutList li:last-child {
  font-weight: bold;
  background-color: lightblue;
}

#addressForm {
  background-color: rgb(206, 224, 218);
}
/* Base Divider class */
.divider {
  display: flex;

  &:before,
  &:after {
    content: "";
    flex: 1;
  }
}

.glow {
  &:before,
  &:after {
    height: 6px;
    --webkit-filter: blur(5px);
    border-radius: 5px;
  }

  &:before {
    background: linear-gradient(to right, blue, hotpink);
  }

  &:after {
    background: linear-gradient(to left, blue, hotpink);
  }
}


div#page-container {
  position: relative;
  min-height: 100vh;
}

main#content-wrap {
  padding-bottom: 4rem;    /* Footer height */
}

footer#footer {
  text-align: center;
  padding: 0.5rem 0;
  text-decoration: none;
  background-color: rgb(192, 211, 204);
  color: rgb(108, 116, 112);
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 4rem;            /* Footer height */
}

footer#footer p {
  margin: 0;
}

#footer p a {
  text-decoration: none;
  color: unset;
}

#footer p a:hover {
  color: rgb(89, 95, 92);
  text-decoration: underline;
  transform: scale(1.1);
  background-color: rgb(214, 229, 223);
}

#footer div.build-description {
  font-size: 0.9rem;
}

