/* body {
  background-color: #0e4a86;
} */

.row.product .col-md-3 {
  height: 500px;
}

.row.product .card {
  height: 100%;
}

.card img {
  object-fit: contain;
  height: 70%;
}

.card-title {
  font-weight: bold;
}

.card-text {
  color: darkgreen;
  font-weight: bold;
}

#productImage {
  height: 70vh;
}

#productImage img {
  object-fit: contain;
  max-height: 100%;
}